body {
    text-align: center;
    background-color: #1E90FF;
    color: #ffffff;
}

figure.images {
    border:5px solid white;
    box-shadow: 1px 1px 4px black;
}

figure.images img {
    width: 100%;
    height: 100%;
}

a {
    text-decoration: none;
    color: #ffffff;
}