body {
    background-image: linear-gradient( 60deg, #a3eced 10%, #130CB7 100%);
}

.images {
    border:5px solid white;
    box-shadow: 1px 1px 4px black;
}

.images img {
    width: 100px;
    height: 100px;
}

a {
    text-decoration: none;
    color: #ffffff;
}